---
apiVersion: v1
kind: Service
metadata:
  name: robopd2-web
  namespace: robopd2
  labels:
    app: robopd2-web
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: robopd2-web

