apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "58.x"     # safe and current
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    createNamespace: false
  values:
    prometheus-node-exporter:
      prometheus:
        monitor:
          relabelings:
            - sourceLabels: [__meta_kubernetes_pod_node_name]
              targetLabel: node
    grafana:
      adminPassword: "admin"
      # Configure Grafana to work behind /lab/grafana path
      grafana.ini:
        server:
          root_url: "https://cameronrosier.com/lab/grafana"
          serve_from_sub_path: true
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
          labelValue: "1"
          searchNamespace: ALL
